*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purple700: hsl(257, 40%, 49%);
}

body {
  background-color: var(--purple700);
  background-image: url(./images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 90%;
  max-width: 1200px;
  display: flex;
  align-items: center;
}

.text-container {
  margin: 0 2rem;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
